<style type="text/css">
  input.ng-dirty.ng-valid{
    border-color: green;
    border-width: 2px;
  }

  input.ng-dirty.ng-invalid{
    background-color: pink;
  }

  input.ng-pristine.ng-invalid{
    border-color: pink;
    border-width: 1px;
  }

</style>
<div class="row">
  <div class="col-md-7">
    <ng-form class="form-horizontal" role="form" name="hotelsForm">

      <ul class="nav nav-pills" role="tablist">
        <li ng-class="{'active' : step == 1 }">
          <a href=""  ng-click="setStep(1)">Step 1</a>
        </li>
        <li ng-class="{'active' : step == 2 }">
          <a href="" ng-click="setStep(2)" >Step 2</a>
        </li>
      </ul>

      <br/>
      <br/>
      <div ng-show="step == 1">
        <ng-form name="step1Form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" ng-model="someHotel.name" name="vName" required max-length="10" class="form-control" placeholder="Name"></div>
            <div class="col-sm-1">
              <span class="glyphicon glyphicon-ok" ng-show="hotelsForm.vName.$valid"></span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Location</label>
            <div class="col-sm-9">
              <input type="text" ng-disabled="hotelsForm.vPrice.$invalid" ng-model="someHotel.location" max-length="20" name="vLocation" ng-pattern="/^Banjara|Jubilee$/"  class="form-control" placeholder="Location"></div>
            <div class="col-sm-1">
              <span class="glyphicon glyphicon-ok" ng-show="hotelsForm.vLocation.$valid"></span>
            </div>
          </div>

          <div class="form-group">
            
            <div class="col-sm-2 col-sm-offset-9">
              <button ng-disabled="step1Form.$invalid" ng-click="setStep(2)" class="btn btn-default btn-sm">Next</button>
            </div>
          </div>


        </ng-form>
      </div>

      <div ng-show="step == 2">
        <ng-form name="step2Form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
              <input type="number" min="2000" max="50000" name="vPrice" required ng-model="someHotel.price"  class="form-control" placeholder="Price"></div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea ng-model="someHotel.description" class="form-control" rows="7"></textarea>
            </div>
          </div>


        </ng-form>
      </div>

      <div class="form-group">
        <div class="col-md-9">{{someHotel | json}}</div>
        <div class="col-sm-3">
          <button type="submit" ng-click="addHotel()" ng-disabled="hotelsForm.$invalid" class="btn btn-default">Add</button>
        </div>
      </div>
    </div>
   
  </ng-form>

</div>