<div class="list-group">
  <ul>
    <li class="list-group-item" ng-repeat="am in someHotel.amenities">
      <span ng-show="!editMode">{{am.name}}</span>
      <input ng-show="editMode && editable" class="form-control" type="text" ng-model="am.name" />
      <button ng-show="!editMode && editable" class="btn btn-sm btn-warning" ng-click="editMode = true">
        <span>edit</span>
      </button>
      <button ng-show="editMode && editable" class="btn btn-sm btn-success" ng-click="editMode = false">
        <span>save</span>
      </button>

    </li>
    <li class="list-group-item" ng-show="editable">
      <input type="text" ng-model="newAmenity" class="form-control" />
      <button class="btn btn-sm btn-success" ng-click="addAmenity(newAmenity)">Add</button>

    </li>
  </ul>
</div>