<div ng-controller="hotelsController">

		<div>
			<div class="col-md-3"><input ng-model="searchTerm" class="form-control" type="text" placeholder="enter search term" /></div>
			<div class="col-md-3"><input ng-model="orderTerm" class="form-control" type="text" placeholder="enter order by term" /></div>
			<h4 class="col-md-4">Total hotels : {{hotels.length}}</h4>
			<div class="col-md-2">
				<a href="#/add" class="btn btn-primary">New Hotel</a>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<div  ng-repeat="hotel in hotels | filter: searchTerm | orderBy : orderTerm" >
			<div class="row well">
				<div class="col-md-1">
					<div><button class="btn btn-success" ng-click="upvote(hotel)"><span class="glyphicon glyphicon-chevron-up"></span></button></div>
					<div><h3>{{hotel.rating || 0}}</h3></div>
					<div><button class="btn btn-danger" ng-click="downvote(hotel)"><span class="glyphicon glyphicon-chevron-down"></span></button></div>
				</div>
				<img class="col-md-2 col-sm-6 col-xs-12" ng-src="../images/{{hotel.img}}" width="100px" />
				<div class="col-md-9">
					<div class="row">
						<div class="col-md-4 h2"><a href="#/details?hotelId={{hotel.objectId}}" ng-click="selectHotel(hotel)">{{hotel.name | uppercase}}</a></div>
						<div class="col-md-4 h2">{{hotel.price | currency : 'INR'}}</div>
						
					</div>
					<div class="row">
						<div class="col-md-12">

						<span ng-show="!hotel.showMore">{{hotel.description | limitTo : descLimit}}</span>
						<span ng-show="hotel.showMore">{{hotel.description}}</span>
							<span ng-show="hotel.description.length > descLimit && !hotel.showMore"><a href="" ng-click="showMore(hotel)">...</a></span>
						</div>
					</div>
					<br/>
					<div class="row">
						<div class="col-md-8">{{hotel.location}}</div>
						<div class="col-md-4">{{hotel.area | toFeet | number : 2}}</div>
					</div>
				</div>

			</div>
		
		</div>
	</div>