<div >

	<div>
		<div class="col-md-3">
			<input ng-model="searchTerm" class="form-control" type="text" placeholder="enter search term" />
		</div>
		<div class="col-md-3">
			<input ng-model="orderTerm" class="form-control" type="text" placeholder="enter order by term" />
		</div>
		<h4 class="col-md-4">Total hotels : {{hotels.length}}</h4>
		<div class="col-md-2">
			<a href="#/add" class="btn btn-primary">New Hotel</a>
		</div>
	</div>
	<br/>
	<br/>
	<br/>

	<nav>
		<h3>{{selectedHotels | json}}</h3>
		<ul class="pager">
			<li class="previous">
				<a href=""  ng-click="page = page - 1">&larr; Prev</a>
			</li>
			<li class="next">
				<a href="" ng-click="page = page + 1 ">Next &rarr;</a>
			</li>
		</ul>
	</nav>

	<table class="table">
		<tr ng-repeat="hotel in hotels | paginate : page | filter: searchTerm | orderBy : orderTerm | limitTo : 5" >
			<td>

				<div class="row">
					<div class="col-md-1">
						<input type="checkbox" ng-model="selectedHotels[hotel.objectId]" class="form-control"/>
					</div>
					<a href="" ng-click="showDetails.id = hotel.objectId">
						<div class="col-md-5">{{hotel.name}}</div>
						<div class="col-md-6">{{hotel.price}}</div>
					</a>
				</div>

				<br/>
				<div ng-show="showDetails.id == hotel.objectId" class="row text-muted well">
					<div class="col-md-12">{{hotel.description}}</div>
				</div>
			</td>
		</tr>
	</table>
</div>