<html ng-app>
<head>
	<script type="text/javascript" src="angular.min.js"></script>
<style type="text/css">
	.highlight {
		color: red;
	}
</style>
</head>
<body >
	<div ng-controller="greetingController">
		<h1 >{{message}} {{companyName}}</h1>	
		<input type="text" ng-model="message" />
	</div>
		<hr/>
		<hr/>
	<div ng-controller="hotelsController">

		<input type="text" ng-model="showHotels" />Show hotels
		<input type="checkbox" ng-model="showHotels" />Show hotels
		<div ng-show="showHotels" ng-repeat="hotel in hotels">
			<div ng-class="{'highlight': hotel.price > 10000}">
				<h2>{{hotel.name}}</h2>
				<h4>{{hotel.location}}</h4>
			</div>
			<hr/>
		</div>
	</div>
</body>
<script>
	function greetingController($scope, $timeout){


		$scope.message = "Good Morning";

		$scope.companyName = "Wells Fargo";

		$timeout(function(){
			$scope.message = "almost Great Afternoon."
		}, 2000);
	}

	function hotelsController($scope){
		var hotels = [
		{
			name : 'Novotel',
			location : 'Madhapur',
			price : 15000
		},{
			name : 'Swagat',
			location : 'Kondapur',
			price : 9000
		},{
			name : 'Taj Krishna',
			location : 'Banjara Hills',
			price : 14000
		}];

		$scope.hotels = hotels;
	}
</script>
</html>